<a href="<%=new_post_path%>">Add Photo</a>
<ul>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <thumbnail class="thumbnail">
          <%= link_to post_path(post) do %>
              <%= image_tag post.image.url %>
          <% end %>
        <%= post.title %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete %>
      </thumbnail>
    <% end %>
</ul>
  <% else %>
    No Recent Photos
<% end %>
