<% if @posts.any? %>

    <ul>

    <% @posts.each do |post| %>

      <thumbnail class="thumbnail">

        <picture class="thumbnail_image">

          <%= link_to post_path(post) do %>
              <%= image_tag post.image.url %>
          <% end %>

        </picture>

        <p><%= post.title %></p>

        <% if post.comments.any? %>
          <ul>
            <% post.comments.each do |comment| %>
            <li>
              <%= comment.thoughts %>

              <% if comment.user_id == @user_id %>

                <%= link_to "X", comment_path(comment), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} %>
              <% end %>

            </li>
            <% end %>
          </ul>
        <% end %>

        <%= link_to time_ago_in_words(post.created_at) + " ago", post%> |
        <%= post.likes.count %> Likes |
        <%= link_to "Like", post_likes_path(post) %> |
        <% if user_signed_in? %>
          <%= link_to "Comment", new_post_comment_path(post) %> |
        <% end %>
        <% if @user_id == post.user_id %>
          <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>

        <% end %>

      </thumbnail>

    <% end %>

    </ul>

  <% else %>

    No Recent Photos

<% end %>
