<h1>INSTAGRAM</h1>
<ul>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <li>
        <%= post.title %>
        <button id="image_button">
          <%= link_to post_path(post) do %>
              <%= image_tag post.image.url(:thumb) %>
          <% end %>
        </button>
        <%= link_to "Edit", edit_post_path(post) %>
      </li>
    <% end %>
</ul>
  <% else %>
    No Recent Photos
<% end %>

<a href="<%=new_post_path%>">Add Photo</a>